@font-face {
    font-family: 'Futura PT Light';
    src: url('./YaleAset/FuturaPT-Light.woff');
}
@font-face {
    font-family: 'Futura PT Book';
    src: url('./YaleAset/FuturaPT-Book.woff');
}
@font-face {
    font-family: 'Futura PT EBold';
    src: url('./YaleAset/FuturaPT-ExtraBold.woff');
}
@font-face {
    font-family: 'Ocean Rush DEMO';
    src: url('./YaleAset/Ocean-Rush-DEMO.otf');
}
@font-face {
    font-family: 'Reey';
    src: url('./YaleAset/Reey-Regular.ttf.woff');
}
body {
    font-family: 'Futura PT', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    justify-content: center;
}

.dropdown-menu {
    background-color: #00253F;
    border-radius: 20px;
    border: none;
    padding: 10px;
    z-index: 2;}
    
.dropdown-item {
    color: #80A4BF;}

/*.dropdown-item :hover{
    border-radius: 20px;
    background-color: #FFF28A;}*/

.Header {
    position: fixed;
    z-index: 10;
    }
.Header:hover {
    opacity: 1;}
.navbar {
    background-color: #00375F;}
.nav-link {
    color: white;}

.carousel-item {
    height: 600px;
    align-items: center;
    justify-content: center;}
.carousel-item img {
    object-fit:cover;
    height:inherit;
    width: auto;
    justify-content: center;
    align-content: center;}
.carousel-indicators [data-bs-target]{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-bottom: 150px;}
.carousel-caption {
    position: absolute;
    padding-bottom: 10rem;
    text-align: left;
    width: 400px;}
.carousel-caption h5{
    font-size: 25px;
    font-weight: bolder;}

.Menu,.MenuNews,.MenuGallery,.MenuEvent,.MenuFooter{
    width: 100%;
    color: #f2f2f2;
    font-family: Futura PT EBold;
    font-size: 40px;
    padding: 8px 12px;
    text-align: center;}
.MenuNews {
    color: #403905;}
.MenuGallery {
    color: #3B0B09;}
.MenuEvent {
    color: #00253F;}
.MenuFooter {
    color: white;}

p {
    font-weight: lighter;}
.YaleSchool, .Tagline {
    font-size: 18vmin;
    font-family: 'Ocean Rush DEMO';
    text-align: center;
    line-height: 70px;
    color: #80A4BF;
    text-shadow: -5px 4px #00375F;
    z-index: 1;}
.Tagline {
    width: 100%;
    font-family: 'Reey';
    font-size: 2vmax;
    font-weight: lighter;
    line-height: normal;
    color: white;
    text-shadow: none;
    z-index: 2;
    padding-bottom: 30px;
    border-bottom: white 1px dotted;}

/* external css: flickity.css */
    * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

.gallery {
    background: transparent;
    }

.gallery-cell {
    width: 250px;
    height: 350px;
    margin-right: 10px;
    counter-increment: gallery-cell;
    text-align: center;
    }
.News {
    float: none;
    color: #403905;
    font-weight: bolder;
    font-family: Futura PT Book;
    margin-top: 15px;}
.date {
    border-top: 1px #403905 solid;
    padding-top: 10px;
    font-family: Futura PT Light;
    color: #403905;}

.EventTitle {
    float: none;
    color: #00497e;
    font-weight: bolder;
    font-family: Futura PT Book;
    margin-top: 15px;
    font-size: 21px;}
.EventDate {
    border-top: 1px #00497e solid;
    padding-top: 10px;
    font-family: Futura PT Light;
    color: #00497e;
    font-size: 17px;}

/* #Gallery {
    width: 100%;
    height: max-content;
    padding-top: 200px;
    padding-left: 145px;
    padding-right: 145px;
    background-image: url("YaleAset/BG_Gallery.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: violet;
    justify-content: center;} */

.Gallery {
    /* padding-top: 27px; */
    width: 100%;
    height: 600px;
    margin: auto;
    position: center;
    align-content: center;}
.Art {
    /* float: left; */
    /* left: 1.5vh; */
    /* display: flex; */
    background-size: cover;
    /* background-position: center center; */
    /* background-repeat: no-repeat; */
    position: relative;
    align-content: center;
    /* background-size: 100%; */
    margin: 5px;
    /* width: 32%; */
    /* height: 20%; */
    /* display: table; */
    overflow: hidden;
    text-align: center;
    height: 24.6vw; 
    width: 24.6vw;
}

.desc {
    display: table-cell;
    vertical-align: middle;
    height: 24.6vw; 
    width: 24.6vw;
    background: black;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    }
.desc h3 {
    display: block;
    font-size: 20px;
    color: #FFE515;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    }

    @media screen and (max-width: 320px) {
        .Artbox{
            margin: 0px !important;
        }
        
        .Art{
            height: 28vw; 
            width: 28vw;
            margin: 3px;
        }
    
        .desc{
            height: 28vw; 
            width: 28vw;
        }
    }
    
    .Art .desc span {
    display: block;
    color: #999999;
    font-size: 14px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
    }
    /* .Art .desc {
        opacity: 1;
        background: transparent(255, 255, 255, 0.6);
    }
    .Art .desc h3 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .Art .desc span {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    } */

.Art:hover .desc {
    opacity: 85%;
    }
.Art:hover .desc h3 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
.Art:hover .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);}


form {
    width: 250px;
    height: 40px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;}
input {
    padding: 4px 20px;
    border: 0;
    font-size: 16px;
    font-family: 'Futura PT';}
.search {
    width: 78%;
    height: 40px;
    border-radius: 20px;}
.submit {
    float: right;
    cursor: pointer;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #00253F;
    background-image:url(YaleAset/Icon_Lup.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;}
.submit:hover {
    background-color: #FFE515;
    background-image:url(YaleAset/Icon_Lup_dark.png);}

.School {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    float: left;}
.Logo {
    width: 20%;}
.Logo img {
    height: fit-content;
    width: 100%;
    float: left;}
.NamaSekolah {
    float: right;
    color: white;
    width: 70%;
    height: fit-content;
    margin-left: 20px;}
.NamaSekolah h1:hover{
    cursor: pointer;
    color: #FFEC50;}
.NamaSekolah h1 {
    width: 100%;
    font-weight: bolder;
    font-size: 40px 100%;}
.NamaSekolah p {
    width: 100%;
    height: 5px;}

/* .LeftCP, .RightCP {
    width: 45%;
    padding-top: 15px;
    margin: 0 5px;
    height: fit-content;
    float: left;
} */
.Contact {
    margin-bottom: 5%;
    float: left;
    height: max-content;}
.CP{
    width: 85%;
    height: fit-content;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
    font-weight: 640;
    color: white;
    float: left;}
.CPContent {
    width: 100%;
    height: 25px;
    margin: 0;
    float: left;}
.CPContent img {
    width: 20px;
    height: auto;
    margin-top: 5px;
    float: left;}
.DescCP,.lainnya{
    width: 85%;
    height: fit-content;
    font-weight: normal;
    float: left;
    margin-top: 5px;
    padding-left: 10px;
    color: white;}
.lainnya {
    margin: 0;}
.Judul {
    font-weight: 620;
    float: left;}
@media screen and (max-width: 768px) {
.Contact .DescCP {
    opacity: 1;
    /* background: rgba(255, 255, 255, 0.6); */
    }
.Contact .CPContent {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
.Contact .CP {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    }
.DescCP:hover {
    color: #FFF28A;
    cursor: pointer;
    }


.mail {
    float: left;}
.contentmail {
    width: 80%;
    float: left;}
.B {
    height: 150px;}
.Language img {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    width: 30%;}
    
.clear {
    clear: left;}  

.timeline-steps {
    display: flex;
    /* justify-content: center;
    flex-wrap: wrap */
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}


.timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: .4rem dashed #00497e;
    width: 20rem;
    position: absolute;
    left: 7.5rem;
    top: .3125rem;
}
/* .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: .25rem dotted #3b82f6;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: .3125rem
} */

.timeline-steps .timeline-content {
    width: 18rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    /* background-color: #3b82f6; */
    background-image: url('YaleAset/Bel.png');
    background-size: cover;
    display: inline-block;
    height: 6rem;
    width: 6rem;
    min-width: 6rem;
    border-radius: 50%;
    z-index: 1;
}

#mySidenav a {
    margin-top: 300px;
    position: absolute; 
    right: -120px; 
    transition: 0.3s; 
    width: 200px;
    position: fixed;
}

#mySidenav a:hover {
    right: 0; 
}
.gallery-cell {
    opacity: 0.3;
    padding: 20px !important;
    font-size: 12px !important;
}
.is-selected {
    opacity: 1 !important;
    padding: 1px !important;
    font-size: 20px !important;
    transition: 0.3s; 
}
.toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    cursor: pointer;
    z-index: 99;
}